:root{
    --primary-color:#FAFAFA;
    --primary2-color: #FFFFFF;
    --primary-text-color:#252B42;
    --secundary-text-color:#737373;
    --secundary-color:#0D5C63;
    --tercer-color:#FF7B47;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
header{
     height: 150vh;
}

nav{
    
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
    gap: 100px;
    height: 103px;
    margin: 0px;
    padding-left: 168px;
    


}
nav h2{
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    width: 187px;
    height: 58px;
}
nav a{
    color:var(--primary-text-color) ;
text-decoration: none;
 }

.link{
    display: flex;
    gap: 21px;
    font-family: "Montserrat";
    font-size: 14px;
}

.banner{
    padding-left: 168px;
    position: absolute;
    margin-top: 150px;
    width: 1100px;
    height: 418px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.container{ 
    display: flex;
    flex-direction: column;
    width: 1046px;
    height: 900px;
}

.banner > h1{
    font-weight: 800px;
    width: 410px;
    color: var(--primary-text-color);
    font-family: "Montserrat";
    font-size: 58px;
}
.banner > h4{
    color: #737373;
    font-family: "Montserrat";
    font-size: 20px;
    width: 410px;
}
.boton{
    display: flex;
 flex-direction: row;
gap: 10px;
}
.btn{
    border: none;
    border-radius: 37px;
    font-weight: 600;
    padding: 15px 36px !important;
}

button.btn1 {
    background-color: var(--tercer-color);
    color: var(--primary-color);
    width: 185px;
}

button.btn-transparente {
    border: 1px var(--secundary-color) solid;
    background-color: transparent;
    color: var(--secundary-color);
    width: 154px;

}
.banner2{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    margin: 50px;
    gap: 30px;
    width: 1046px;
    height: 242px;
    padding: 158px 120px;
    position: absolute;
    margin-top: 520px;
} 
#blanco {   
    width: 328px;
    height: 200px;
    padding: 37px;
    background-color: var(--primary2-color);
    font-family: "Montserrat";
        }
    
 #verde {
    width: 328px;
    height: 200px;
    padding: 37px;
    background-color: var(--secundary-color);
   font-family: "Montserrat";
        }
 .banner2 > div >h3{
    color:var(--primary-text-color);
    font-size: 24px;

    
 }
.banner2 > div >p{
    font-size: 14px;
    color:var(--secundary-text-color);
}

.fondo{
    background-color: var(--primary2-color);
    position: relative;
    width: 1381px;
    height: 924px;
}
.imagen{
    position: absolute;
    height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    }
.container2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
    background-color:var(--primary2-color);
    width:100%;
    height: 526px;
    z-index: -1;
    font-family: "Montserrat";
}

.container2 >div > h2{
    font-size: 40px;
    color: var(--primary-text-color);
    text-align: center;
}
.container2>div>p{
    font-size: 14px;
    text-align: center;
}
.figuras{
    height: 209px;
    width: 1040px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 30px;
    

}
#cuadro{
    width: 238px;
    height: 180px;
    background-color:var(--primary-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container3{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 20px;
        padding-top: 10px;
        background-color:var(--primary2-color);
        width: 100%;
        height: 699px;
        font-family: "Montserrat";

}
.container3>div>h2 {
    font-size: 40px;
    color: var(--primary-text-color);
    text-align: center;
}
.container3>div>p {
    font-size: 14px;
    text-align: center;
}
#cuadro2 {
    font-size: 16px;
    width: 190px;
    height: 341px;
    background-color: var(--primary-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.figuras2 {
    height: 209px;
    width: 1051px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0px;

}
footer {
    padding: 0px 70px;
    padding-bottom: 40px;
}

footer>div:first-child {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 35%;
    justify-content: space-between;
}

footer>div:last-child {
    padding: 40px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--second-text-color);
    font-weight: 800;
    font-size: 0.8em;
}

footer>div:last-child>div:last-child {
    width: 35%;
    text-align: center;
}

footer>div:last-child a {
    color: var(--primary-color);
    margin: 0px 10px;
}


footer>div:last-child a>svg#twitter {
    fill: var(--primary-color);
}

footer>div:last-child a:first-child {
    display: inline-block;
}

footer>div:last-child a>svg#facebook {
    fill: var(--light-bg-color);
    stroke: var(--light-bg-color);
    stroke-width: 0.2;
}


footer>div:first-child ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer>div:first-child ul li a {
    display: block;
    text-decoration: none;
    color: var(--second-text-color);
    margin: 20px 0px;
    font-weight: 800;
    font-size: 0.8em;
}

footer>div:first-child>div:last-child>div {
    text-align: center;
}

footer>div:first-child>div:last-child>div>p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}

footer>div:first-child>div:last-child>div>p>svg {
    stroke: var(--primary-color);
}

footer>div:first-child>div:last-child>div>p>svg,
footer>div:first-child>div:last-child>div>p>i {
    margin-right: 10px;
}

.icon-email {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
}

.icon-facebook {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
}